body .window {
  height: 100%;
  .off-canvas-wrap {
    height: 100%;
    .inner-wrap {
      height: 100%;
      .icon-bar {
        position: absolute;
      }
    }
  }
}

.title-area h1 {
  padding-left: 50px;
  background: url("/images/white48.png") no-repeat left top;
}

#content {
  margin-left: 68px;
}

/* registration.html */
.dial {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #333;
  height: 130px;
  .key {
    float: left;
    box-sizing: border-box;
    width: 30%;
    height: 30px;
    border: 1px solid red;
  }
}
