body .window {
  height: 100%;
  .off-canvas-wrap {
    height: 100%;
    .inner-wrap {
      height: 100%;
      .icon-bar {
        position: absolute;
      }
    }
  }
}

.title-area h1 {
  padding-left: 50px;
  background: url("/images/white48.png") no-repeat left top;
}

#content {
  margin-left: 68px;
}
