<button class="button" ng-click="add()">
    <i class="fi-plus"></i> 添加奖励策略
</button>
<table>
    <thead>
    <tr>
        <th width="200">超时时间（分钟）</th>
        <th width="150">奖励方式</th>
        <th width="150">奖励内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="strategy in strategies">
        <td>{{ strategy.time_wait }}</td>
        <td>{{ strategy.reward_type_desc }}</td>
        <td>{{ strategy.reward_info }}</td>
        <td>
            <button class="button tiny" ng-click="modify(strategy)">修改</button>
            <button class="button tiny" ng-click="del(strategy)">删除</button>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="strategy_info.html">
    <form>
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-4 columns">
                        <label for="time_wait" class="right inline">等位时间（分钟）</label>
                    </div>
                    <div class="small-8 columns">
                        <input type="number" id="time_wait" ng-model="strategy.time_wait" number="true">
                    </div>
                </div>

                <div class="row">
                    <div class="small-4 columns">
                        <label for="reward_type" class="right inline">奖励方式</label>
                    </div>
                    <div class="small-8 columns">
                        <select ng-model="strategy.reward_type" data-ng-options="reward_type.type as reward_type.name for reward_type in reward_types"
                                ng-change="strategy.reward_info=''"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="small-4 columns">
                        <label for="reward_info" class="right inline" ng-show="strategy.reward_type=='gift'">礼物名称（例如：小菜一份）</label>
                        <label for="reward_info" class="right inline" ng-show="strategy.reward_type=='discount'">折扣百分比（范围：1-100）</label>
                    </div>
                    <div class="small-8 columns">
                        <input type="text" id="reward_info" data-ng-model="strategy.reward_info">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="button-group">
        <button class="button" ng-click="confirm()"
                ng-disabled="strategy.reward_info == null || strategy.time_wait == null || (strategy.reward_type=='discount' && (strategy.reward_info <1 || strategy.reward_info > 100))">确认</button>
        <button class="button secondary" ng-click="cancel()">取消</button>
    </div>

</script>

