<button class="button" ng-click="reset()">
    <i class="fi-refresh"></i> 重置号码序号
</button>

<tabset vertical="true" class='registration-table'>
  <tab active="$first" ng-repeat="just_for_index in copy_of_table_types">
    <tab-heading>
      {{ table_types[$index].name }}
      <span class="round success label">
        {{ table_types[$index].current_registration?(table_types[$index].queue_registrations.length + 1):(table_types[$index].queue_registrations.length) }}
      </span>
    </tab-heading>
        <h4>当前号码</h4>
        <table>
            <thead>
            <tr>
                <th>等位号</th>
                <th>取号方式</th>
                <th>手机/微信</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <span ng-if="table_types[$index].current_registration==null">无</span>
                    <span ng-if="table_types[$index].current_registration">
                        {{ table_types[$index].current_registration.queue_number }}
                    </span>
                </td>

                <td>
                    <span ng-if="table_types[$index].current_registration==null">无</span>
                    <span ng-if="table_types[$index].current_registration">
                        <span ng-if="table_types[$index].current_registration.reg_method==0">手机</span>
                        <span ng-if="table_types[$index].current_registration.reg_method==1">微信</span>
                    </span>
                </td>

                <td>
                    <span ng-if="table_types[$index].current_registration==null">无</span>
                    <span ng-if="table_types[$index].current_registration">
                      <span ng-if="table_types[$index].current_registration.reg_method==0">{{ table_types[$index].current_registration.phone_display }}</span>
                      <span ng-if="table_types[$index].current_registration.reg_method==1">{{ table_types[$index].current_registration.member_display.nickname}}</span>
                    </span>
                </td>

                <td>
                    <span ng-if="table_types[$index].queue_registrations.length==0 && table_types[$index].current_registration==null">无</span>
                    <button class="button success tiny" ng-if="table_types[$index].current_registration==null && table_types[$index].queue_registrations.length != 0" ng-click="next_reg('start', table_types[$index])"><i class="fi-play"></i> 开始叫号</button>
                    <button class="button success tiny" ng-if="table_types[$index].current_registration!=null" ng-click="next_reg('expired', table_types[$index])"><i class="fi-check"></i> 就餐</button>
                    <button class="button alert tiny" ng-if="table_types[$index].current_registration!=null" ng-click="next_reg('passed', table_types[$index])"><i class="fi-eject"></i> 过号</button>
                </td>
            </tr>
            </tbody>
        </table>

        <h4>排队中</h4>
        <table>
            <thead>
            <tr>
                <th>等位号</th>
                <th>取号方式</th>
                <th>手机/微信</th>
                <th>等待时间</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="reg in table_types[$index].queue_registrations">
                <td>{{ reg.queue_number }}</td>
                <td><span ng-if="reg.reg_method==0">手机</span><span ng-if="reg.reg_method==1">微信</span></td>
                <td><span ng-if="reg.reg_method==0">{{ reg.member_display.phone}}</span><span ng-if="reg.reg_method==1">{{ reg.member_display.nickname }}</span></td>
                <td>{{ reg.waiting_time }}</td>
            </tr>

            </tbody>
        </table>
    </tab>
</tabset>

<script type="text/ng-template" id="reset_confirm.html">
    <p>确认重置所有类型桌子的起始号码么？</p>
    <hr>

    <div class="button-group">
        <button class="button" ng-click="confirm()">确认</button>
        <button class="button secondary" ng-click="cancel()">取消</button>
    </div>

</script>
