<div class="off-canvas-wrap" ng-cloak>
  <top-bar>
    <ul class="title-area">
      <li>
        <div class="name">
            <div class="logo-title hide-for-small-only">点快</div>
            <div class="logo-subtitle hide-for-small-only">diankuai.cn</div>
            <a href="http://www.diankuai.cn/" class="home-link hide-for-small-only"></a>

            <span class="show-for-small-only text-center restaurant-title">{{restaurant.name}}</span>
        </div>
      </li>
      <li toggle-top-bar class="menu-icon"><a href="#"><i class="fi-list"></i></a></li>
    </ul>
    <div class="restaurant-title-wrap hide-for-small-only"><span class="restaurant-title text-center">{{restaurant.name}}</span></div>
    <top-bar-section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a class="registration-button" ui-sref="registration"><i class="fi-page-edit"></i>&nbsp;取号主页</a></li>
        <li><a class="right-off-canvas-toggle"><i class="fi-widget"></i>&nbsp;设置</a></li>
      </ul>
    </top-bar-section>
  </top-bar>

  <div class="inner-wrap">

    <section id="content">
      <div class="row">
        <div class="small-12 medium-11 medium-offset-1 columns" ui-view>
        </div>
      </div>
    </section>

    <div class="dk-vertical-icon-bar icon-bar vertical three-up hide-for-small-only">

      <a class="item" ui-sref=".overview" ui-sref-active="active">
        <i class="fi-volume"></i>
        <label for="">叫号</label>
      </a>
      <a class="item" ui-sref=".order" ui-sref-active="active">
        <i class="fi-graph-trend"></i>
        <label for="">点菜</label>
      </a>
      <a class="item" ui-sref=".report" ui-sref-active="active">
        <i class="fi-graph-trend"></i>
        <label for="">统计</label>
      </a>

    </div>

    <div class="dk-icon-bar icon-bar three-up show-for-small-only">
      <a class="item" ui-sref=".overview" ui-sref-active="active">
        <i class="fi-volume"></i>
        <label for="">叫号</label>
      </a>
      <a class="item" ui-sref=".history" ui-sref-active="active">
        <i class="fi-clock"></i>
        <label for="">历史</label>
      </a>
      <a class="item" ui-sref=".report" ui-sref-active="active">
        <i class="fi-graph-trend"></i>
        <label for="">统计</label>
      </a>
    </div>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><a ui-sref=".table">餐桌类型</a></li>
        <li><a ui-sref=".strategy">等位奖励</a></li>
        <li><a ui-sref=".exchange">奖励兑换</a></li>
        <li><a ui-sref=".menu">菜单管理</a></li>
        <li><a ui-sref=".restaurant">餐厅配置</a></li>

        <li class="divider"></li>
        <li><a ui-sref=".change_passwd">修改密码</a></li>
        <li><a ng-click="logout()">注销</a></li>
      </ul>
    </aside>

    <a class="exit-off-canvas"></a>

  </div>

</div>
