<section class="console-order">
  <ul class="tables">
    <li>
    <a href="#" class="button tablet confirm"><span>桌名(餐桌类型名称)<br>{{ null | order_status}}</span></a>
    </li>
    <li>
      <a href="#" class="button success tablet checkout"><span>已付款</span></a>
    </li>
    <li>
      <a href="#" class="button secondary tablet pre-order"><span>待下单</span></a>
    </li>
    <li>
      <a href="#" class="button alert tablet pre-checkout"><span>待付款</span></a>
    </li>
    <li>
      <a href="#" class="button info tablet dish-up"><span>待上菜</span></a>
    </li>
  </ul>
</section>

