<form class="form-inline">
    <div class="form-group">
        <label for="coupon-code">输入优惠码</label>
        <input type="text" class="form-control" id="coupon-code" data-ng-model="coupon_code" ng-change="reset_panel()">
    </div>
    <button ng-click="submit_coupon_code()" class="btn btn-default" ng-disabled="coupon_code==''">查看</button>
</form>

<div ng-show="coupon_is_invalid==false && coupon != null">
    <ul class="list-group">
        <li class="list-group-item">奖励类型:  <span ng-show="coupon.reward_type==0">折扣</span><span ng-show="coupon.reward_type==1">奖品</span></li>
        <li class="list-group-item">奖励内容: <span>{{ coupon.reward_content }}</span></li>
        <li class="list-group-item">获取奖励条件: <span>{{ coupon.strategy_condition }}</span></li>
        <li class="list-group-item">获取优惠码时间: <span>{{ coupon.create_time }}</span></li>
        <li class="list-group-item">过期时间: <span>{{ coupon.invalid_time }}</span></li>
        <li class="list-group-item">状态: <span ng-show="coupon.is_used">已兑换</span><span ng-show="!coupon.is_used">未兑换</span></li>
    </ul>

    <button ng-click="exchange_coupon()" ng-show="!coupon.is_used">兑换</button>
</div>


<div class="well well-lg" ng-show="coupon_is_invalid">兑换码无效</div>


<script type="text/ng-template" id="exchange_ok.html">
    <p>兑换成功</p>
    <hr>

    <div class="button-group">
        <button class="button" ng-click="confirm()">确认</button>
    </div>

</script>
