<section class="console-order">
  <ul class="tables">
    <li ng-repeat="table in tables">
      <a href="#" class="button tablet"
        ng-click="table_order(table)"
        ng-class=" table.order_status | table_order_class ">
        <span>
          {{ table.name }}(餐桌类型名称)<br>
          {{ table.order_status | order_status }}
        </span>
      </a>
    </li>
  </ul>
</section>

<script type="text/ng-template" id="table_order.html">
  <div class="row">
    <div class="small-6 columns">
    <h3>桌号：{{ table.name }}</h3>
    </div>
    <div class="small-6 columns">
    <h3>类型：{{ table.table_type_desc}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <table>
        <tr>
          <th>分类</th>
          <th>菜名</th>
          <th>数量</th>
          <th>单价</th>
        </tr>
        <tr ng-repeat="item in table.order.order_items">
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.count }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="small-6 columns">
      <h3>总价：{{ table.total_price }}元</h3>
      </div>
      <div class="small-6 columns">
      <h3>状态：{{ table.order.status | order_status }}</h3>
      </div>
    </div>
    <div class="row" ng-show="table.order.status == 0">
      <div class="small-9 columns">
        <div class="button-group">
          <button class="button" ng-click="confirmOrder(table.order.id)" ng-show="table.order.status == 0">确认菜单</button>
          <button class="button" ng-click="rejectOrder(table.order.id)"ng-show="table.order.status == 0">取消菜单</button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="table.order.status == 1">
      <div class="small-9 columns">
        <div class="button-group">
          <button class="button" ng-disabled="table.order.status == 2" ng-click="finish_order(table.order.id)">已付款</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns"><h3>情况跟踪</h3></div>
    </div>
    <div class="row">
      <div class="small-12 columns">下单时间：{{ table.order.create_time | order_time }}</div>
    </div>
    <div class="row">
      <div class="small-12 columns">确认时间：{{ table.order.confirm_time | order_time }}</div>
    </div>
    <div class="row">
      <div class="small-12 columns">付款时间：{{ table.order.pay_time | order_time }} </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button class="button secondary expand tiny" ng-click="cancel()">关闭</button>
      </div>
    </div>
  </div>
</script>

