<section class="console-order">
  <ul class="tables">
    <li ng-repeat="table in tables">
    <a href="#" class="button tablet" ng-class=" table.order_status | table_order_class "><span>桌名(餐桌类型名称)<br>{{ table.order_status | order_status }}</span></a>
    </li>
    <!--
    <li>
      <a href="#" class="button success tablet checkout"><span>已付款</span></a>
    </li>
    <li>
      <a href="#" class="button secondary tablet pre-order"><span>待下单</span></a>
    </li>
    <li>
      <a href="#" class="button alert tablet pre-checkout"><span>待付款</span></a>
    </li>
    <li>
      <a href="#" class="button info tablet dish-up"><span>待上菜</span></a>
    </li>
    -->
  </ul>
</section>

