<div class="off-canvas-wrap" ng-cloak>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">{{restaurant.name}}</h1>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>点快</label></li>
                <li><a ui-sref=".overview">营业大厅</a></li>
                <li><a ui-sref=".table">餐桌类型管理</a></li>
                <li><a ui-sref=".restaurant">餐厅配置</a></li>
                <li><a ui-sref="registration">取号主页</a></li>
            </ul>
        </aside>

        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>{{account.username}}</label></li>
                <li><a ui-sref=".change_passwd">修改密码</a></li>
                <li><a href="#">修改个人信息</a></li>
                <li><a ng-click="logout()">注销</a></li>
            </ul>
        </aside>

        <section class="main-section" style="min-height: 600px;">
            <div class="row">
                <div class="large-12 columns" ui-view>
                </div>
            </div>
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>
