<section id="console-menu">
  <h1 class="ng-cloak">{{ menu.name }}</h1>
  <tabset vertical="true" class='registration-table'>
    <tab active="$first" ng-repeat="category in menu_catogaries" select="get_category_products(category.id)">
      <tab-heading>
        {{ category.name }}
      </tab-heading>
      <h4 ng-cloak>
        {{ category.name }}
      </h4>
      <table>
        <thead>
        <tr>
          <th>图片</th>
          <th>商品名称</th>
          <th>价格</th>
          <th>计量单位</th>
          <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="product in category_products">
          <td class="product-icon-wrapper"><img img-key="{{ product.img_key }}" alt=""></td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.unit }}</td>
          <td>
            <button class="button tiny" ng-click="edit_product(product)">编辑</button>
            <button class="button tiny" ng-click="del_product(product)">删除</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="button expand" ng-click="create_product(category.id)">+添加新商品</button>
      </tab>
      <tab heading="+添加新分类" select="create_category(menu)"></tab>
  </tabset>

</section>
<script type="text/ng-template" id="product_del.html">
  <p>确认删除该商品吗？</p>
  <hr>

  <div class="button-group">
    <button class="button" ng-click="confirm()">确认</button>
    <button class="button secondary" ng-click="cancel()">取消</button>
  </div>

</script>
<script type="text/ng-template" id="product.html">
  <hr>
  <form>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="type_name" class="right inline">图片</label>
          </div>
          <div class="small-6 columns">
            <input type="file" file-upload="product.img_file" id="type_name">
          </div>
          <div class="small-3 columns">
            <p>
              <span class="label" ng-show="upload_status==1"><i class="fi-upload"></i> 正在上传...</span>
              <span class="label success" ng-show="upload_status==2"><i class="fi-check"></i> 上传成功！</span>
              <span class="label alert" ng-show="upload_status==-1">上传失败，请重试</span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <label for="type_min" class="right inline">名称</label>
          </div>
          <div class="small-9 columns">
            <input type="text" required id="type_min" ng-model="product.name">
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <label for="type_max" class="right inline">价格</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="type_max" required ng-model="product.price">
            <!--
            <small class="error" ng-show="type_form.min_seats > type_form.max_seats"></small>
            -->
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <label for="type_max" class="right inline">计量单位</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="type_max" ng-model="product.unit" number="true">
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr>

  <div class="button-group">
    <button class="button" ng-click="confirm()">确认</button>
    <button class="button secondary" ng-click="cancel()">取消</button>
  </div>

</script>

<script type="text/ng-template" id="product_create.html">
  <h4>创建商品</h4>
  <ng-include src="'product.html'"></ng-include>
</script>

<script type="text/ng-template" id="product_edit.html">
  <h4>编辑商品</h4>
  <ng-include src="'product.html'"></ng-include>
</script>


<script type="text/ng-template" id="catogary_create.html">
  <h4>创建新分类</h4>
  <hr>
  <form>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="type_max" class="right inline">分类名称</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="type_max" ng-model="category.name">
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr>

  <div class="button-group">
    <button class="button" ng-click="confirm()">确认</button>
    <button class="button secondary" ng-click="cancel()">取消</button>
  </div>
</script>
