<div class="registration-wrap">
  <div class="row">
    <div class="small-12 columns">
      <div class="hero-wrap small-hero-wrap">
        <h2 class="text-center">{{ restaurant.name }} - 自助取号</h2>
      </div>
    </div>
  </div>

  <div class="row" data-equalizer>
      <div class="small-12 medium-7 columns">
        <div class="hero-wrap">
          <form name="reg_form">
            <div class="tables-area clearfix">
              <h4>第一步：选择餐桌</h4>
              <div class="table-type-wrap" ng-repeat="ttype in table_types">
                <input type="radio" ng-model="my_form.table_type" name="table_type" ng-value="ttype" id="table_type_{{ttype.id}}">
                <label for="table_type_{{ttype.id}}" ng-class="{true: 'active', false: 'inactive'}[my_form.table_type==ttype]">{{ ttype.slug }}</label>
              </div>
              <!--
              <select
                      data-ng-model="my_form.table_type"
                      data-ng-options="ttype.slug for ttype in table_types"
                      data-ng-attr-size="{{ table_types.length }}">
              </select>
              -->
            </div>
            <h4>第二步：输入手机号</h4>

            <div class="hide-for-small-only">
              <div class="phone-input">
                {{ my_form.phone }}
              </div>
            </div>

            <div class="show-for-small-only">
              <label for="">
                <input placeholder="请输入手机号" ng-model="my_form.phone" ng-maxlength="13"/>
              </label>
            </div>

            <button class="register-btn button success expand large" ng-click="register()"
              ng-disabled="!invalidMobile"><i class="fi-page-edit"></i>&nbsp;取号</button>

          </form>
        </div>
      </div>

      <div class="medium-5 columns hide-for-small-only">
        <div class="dial hero-wrap">
          <div class="key-wrap" ng-repeat="key in dial_keys">
            <div class="key" value="{{ key.value }}" ng-click="touch_key(key)">{{ key.name }}</div>
          </div>
        </div>
      </div>

  </div>

  <div class="row">
      <div class="small-12 columns">
        <div class="hero-wrap">
          <div class="row">
            <div class="medium-10 small-12 columns">

              <table class="current-registration">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th ng-repeat="table_type in table_types">
                      {{ table_type.name }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="next-one">叫号至</td>
                    <td ng-repeat="table_type in update_table_types">
                      <span ng-if="table_type.current_registration==null">空闲</span>
                      <span ng-if="table_type.current_registration!=null">{{ table_type.current_registration.queue_number }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="medium-2 small-12 columns">
              <div class="support-logo">
                <a ui-sref="console.overview"></a>
                <p>提供技术支持</p>
                <p><i class="fi-telephone"></i>&nbsp;13021045329</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>



<script type="text/ng-template" id="return_registration.html">
  <div class="register-notify">
    <p>您已获取 <span class="register-number">{{ table_type.name }}&nbsp;{{ registration.queue_number }}</span>号</p>
    <p>稍后您会收到确认短信，祝您用餐愉快！</p>
    <hr>
    <button class="button expand medium" ng-click="close()">知道了，好嗨森！</button>
  </div>
</script>
