
<div class="row" data-ng-cloak>
    <div class="large-12 columns"><h2>请设置新的密码</h2>

        <form ng-submit="change_passwd()">
            <div class="row">
                <div class="large-6 columns">
                    <label>新密码
                        <input placeholder="请输入密码" ng-model="password1"
                               ng-maxlength="24" type="password"
                               name="password1"/>
                    </label>

                    <label ng-class="{error: password1!=password2}">请再次输入
                        <input placeholder="请输入密码" ng-model="password2"
                               ng-maxlength="24" type="password"
                               name="password2"/>
                    </label>
                    <small class="error" ng-show="password1!=password2">请保持两次输入一致</small>


                    <input type="submit" name="" value="确定" class="button expand tiny" ng-disabled="password1!=password2 || password1==null">
                </div>
            </div>

        </form>
    </div>
</div>

<script type="text/ng-template" id="return_change_password.html">
    <p>密码修改成功</p>
    <hr>
    <button class="button tiny right" ng-click="confirm()">OK</button>
</script>
